@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700,900');

$fontFace: "Lato";
$baseColor: #CCCCCC;

h1 {
    display: none;
}

.loading {
    color: $baseColor;
    position: fixed;
    left: 50%;
    margin-left: -35px;
    top:50%;
    margin-bottom: -30px;
    .spinner {
        font-size: 70px;
    }
}

.appintro {
    font-family: $fontFace;
    font-size: 40px;
    font-weight: 400;
}

.container {
    display: none;
    .upper {
        padding: 10px;
        .logo {
            font-family: $fontFace;
            font-size: 40px;
            font-weight: 300;
            color: $baseColor;
        }
    }

}
