<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Who am I?</title>
        <script type="text/javascript" src="/js/showads.js"></script>
        <script type="text/javascript" src="/js/app.js?{{random()}}"></script>
        <script defer src="https://use.fontawesome.com/releases/v5.0.10/js/all.js" integrity="sha384-slN8GvtUJGnv6ca26v8EzVaR9DC58QEwsIk9q1QXdCU8Yu8ck/tL/5szYlBbqmS+" crossorigin="anonymous"></script>


        <link rel="stylesheet" href="/css/app.css">
    </head>
    <body>
        <div class="loading">
            <div class="appintro">WHO AM I?</div>
            <li class="spinner fa fa-spin fa-circle-notch"></li>
        </div>
        <div class="container">
            <div class="upper">
                <div class="logo appfont">WHO AM I?</div>
                <div class="options">OPTS</div>
            </div>
            {{dataset.geoinfo.ip_address}}
        </div>
    </body>
</html>
